#taskDisplayer{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

#taskDisplayer p {

    background-color: #fff;
}

#taskSelector {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

#taskFetcherBtn {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

#taskFetcherBtn:hover {
    background-color: #ccc;
    /*add hover to pointer */
    cursor: pointer;
}